{% load static %}
{% load i18n %}
<section id="news-part" class="pt-115 pb-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-50">
                    <h5>{% trans 'Latest News' %}</h5>
                    <h2>{% trans 'From the news' %}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="singel-news mt-30">
                    <div class="news-thum pb-25">
                        <img src="{% static 'images/news/n-1.jpg' %}" alt="News">
                    </div>
                    <div class="news-cont">
                        <ul>
                            <li><a href="#"><i class="fa fa-calendar"></i>2 December 2018 </a></li>
                            <li><a href="#"> <span>By</span> Adam linn</a></li>
                        </ul>
                        <a href="blog-singel.html"><h3>Tips to grade high cgpa in university life</h3></a>
                        <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit
                            cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="singel-news news-list">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="news-thum mt-30">
                                <img src="{% static 'images/news/ns-1.jpg' %}" alt="News">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="news-cont mt-30">
                                <ul>
                                    <li><a href="#"><i class="fa fa-calendar"></i>2 December 2018 </a></li>
                                    <li><a href="#"> <span>By</span> Adam linn</a></li>
                                </ul>
                                <a href="blog-singel.html"><h3>Intellectual communication</h3></a>
                                <p>Gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons
                                    vel.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="singel-news news-list">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="news-thum mt-30">
                                <img src="{% static 'images/news/ns-2.jpg' %}" alt="News">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="news-cont mt-30">
                                <ul>
                                    <li><a href="#"><i class="fa fa-calendar"></i>2 December 2018 </a></li>
                                    <li><a href="#"> <span>By</span> Adam linn</a></li>
                                </ul>
                                <a href="blog-singel.html"><h3>Study makes you perfect</h3></a>
                                <p>Gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons
                                    vel.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="singel-news news-list">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="news-thum mt-30">
                                <img src="{% static 'images/news/ns-3.jpg' %}" alt="News">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="news-cont mt-30">
                                <ul>
                                    <li><a href="#"><i class="fa fa-calendar"></i>2 December 2018 </a></li>
                                    <li><a href="#"> <span>By</span> Adam linn</a></li>
                                </ul>
                                <a href="blog-singel.html"><h3>Learn modern Technology</h3></a>
                                <p>Gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons
                                    vel.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
