{% load static %}

<div id="patnar-logo" class="pt-40 pb-80 gray-bg">
    <div class="container">
        <div class="row patnar-slied">
            <div class="col-lg-12">
                <div class="singel-patnar text-center mt-40">
                    <img src="{% static 'images/patnar-logo/mfactor.webp' %}" alt="Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="singel-patnar text-center mt-40">
                    <img src="{% static 'images/patnar-logo/napaeduhub2.png' %}" alt="Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="singel-patnar text-center mt-40">
                    <img src="{% static 'images/patnar-logo/edaction.png' %}" alt="Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="singel-patnar text-center mt-40">
                    <img src="{% static 'images/patnar-logo/mytaxi2.png' %}" alt="Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="singel-patnar text-center mt-40">
                    <img src="{% static 'images/patnar-logo/cambrigde1.jpeg' %}" alt="Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="singel-patnar text-center mt-40">
                    <img src="{% static 'images/patnar-logo/itpark2.png' %}" alt="Logo">
                </div>
            </div>
        </div>
    </div>
</div>
